@import 'tailwindcss';

@font-face {
  font-family: 'Bastoni';
  src: url('./assets/Bastoni.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Inter', sans-serif;
}
