@import 'tailwindcss';

@font-face {
  font-family: 'Bastoni';
  src: url('./assets/Bastoni.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.bayon-regular {
  font-family: 'Bayon', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-abhaya {
  font-family: 'Abhaya Libre', serif;
}
@theme {
  --font-sans: 'Inter', sans-serif;
}
